@model mvcApp.Models.PropertyInfo

@{
    ViewData["Title"] = "Property Managemen";
}

    <h2>Delete Property</h2>
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <h3>Are you sure you want to delete this?</h3>


    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-2">
        @Html.DisplayFor(model => model.Id)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AssetName)
    </dt>
    <dd class="col-sm-2">
        @Html.DisplayFor(model => model.AssetName)
    </dd>

    <form asp-action="Delete">
        <input type="text" id="Id" name="Id" placeholder="Id" asp-for="Id" type="hidden" >
         <input value="Delete" class="btn btn-danger" type="submit">     
    </form>

